{% load util_tags static i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% now "m" as current_month %}
        <meta month="{{current_month}}">
        {% if current_month == "11" or current_month == "12" or current_month == "01"%}
        <script defer src="https://app.embed.im/snow.js?{{ current_month }}"></script>
        {% endif %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- SEO
        ================================================== -->
        <meta name="description" content="{% block site_description %}Professional Software Developer{% endblock site_description %}">
        <meta name="author" content="Iker Ocio, https://ikerocio.com">
        <link ref="canonical" href="https://ikerocio.com" />
        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>Iker Ocio | CV</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.cosmo.min.css' %}" rel="stylesheet">
        <link id="dark-theme-style" href="" rel="stylesheet">


        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">

    </head>

    <body>
        <div class="container">
            <header class="pb-3 mb-4 border-bottom d-flex flex-row align-items-center justify-content-between text-center">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img class="img-fluid" style="width:40px" src="{% static 'favicon/android-chrome-512x512.png' %}" />
                    <span class="fs-4 px-2">Iker Ocio Zuazo</span>
                </a>
                <div class="d-flex flex-row">
                    <form id="language-form" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="language" type="hidden" value="">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <button onclick="$('input[name=language]').val('{{ language.code }}');$('#language-form').submit()" class="btn btn-sm btn-dark mx-2 my-1">{{ language.name_local|title }} ({{ language.code }})</button>
                        {% endfor %}
                    </form>
                </div>
            </header>
            <div class="py-4 mb-4 bg-light text-center rounded-3 d-flex flex-column flex-xl-row flex-lg-row align-items-center justify-content-xl-evenly justify-content-lg-evenly  ">
                <div class="col-sm-4">
                    <img class="img-fluid portrait-photo rounded-3 rounded-lg-3" src="{% static 'image/iker.png' %}">
                </div>
                <div class="col-sm-8 text-xl-start text-lg-start mt-4 mt-xl-0 mt-lg-0">
                    <div class="d-flex align-items-start justify-content-center">
                        <h1>{{ _("Hola, Mundo!") }}</h1>
                        <img id="theme-toggler" role="button" onclick="toggleTheme()" src="{% static 'image/utils/switch-on.png' %}" class="switch-on-off mx-4" width="32">
                    </div>
                    <p class="description">{{ _("Amante del desarrollo de software y de Python en especial. Además, me gusta la física y la astronomía.") }}</p>
                </div>
            </div>
        </div>

        <div class="b-divider"></div>

        <div class="container py-5" id="icon-grid">
            <h2 class="pb-2 mb-4 border-bottom">Skills</h2>
            {% for skill in skills %}
                {% if forloop.counter|mod:4 == 1 %}
                <!-- row of columns -->
                <div class="row">
                {% endif %}
                <div class="col-xs-12 col-lg-3 {% if skill.css %}css-item{% endif %}">
                    <div class="d-flex align-items-center justify-content-start">
                        <i class="text-muted {{ skill.icon_class }} fa-2x"></i>
                        <h5 class="fw-bold mx-2">{{ skill.title }}</h5>
                    </div>
                    <p>{{ skill.description }}</p>
                </div>
                {% if forloop.counter|mod:4 == 0 %}
                <!-- end row of columns -->
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="b-divider"></div>

        <div class="container py-5" id="icon-grid">
            <h2 class="pb-2 mb-4 border-bottom">{{ _("Experiencia y educación") }}</h2>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <ul>
                        {% for job in jobs %}
                        <li><span class="bg bold">{{ job.company }}</span> <a class="bold" href="{{ job.url }}" target="_blank">{{ job.date }}</a><br> {{ job.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="d-flex justify-content-start align-items-center">
                        <i class="fa fa-graduation-cap fa-2x"></i>
                        <p class="mx-2 fw-bold mb-0">{{ _("Académico") }}</p>
                    </div>
                    <ul>
                        {% for degree in degrees %}
                        <li><span class="bg">{{ degree.date }}: </span> <a class="italic" href="{{ degree.url }}" target="_blank">{{ degree.name }}</a><br>{{ degree.university }}</li>
                        {% endfor %}
                    </ul>
                    
                </div>
               
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="d-flex justify-content-start align-items-center">
                        <i class="fa fa-certificate fa-2x"></i>
                        <p class="mx-2 fw-bold mb-0">{{ _("Diplomas") }}</p>
                    </div>
                    <ul>
                        {% for diploma in diplomas %}
                        <li><a class="italic" href="{{ diploma.url }}" target="_blank"><span class="bg">{{ diploma.description }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="d-flex justify-content-start align-items-center">
                        <i class="fa fa-users fa-2x"></i>
                        <p class="mx-2 fw-bold mb-0">{{ _("Asistencia a Conferencias / Charlas") }}</p>
                    </div>
                    <ul>
                        {% for talk in talks %}
                        <li><span class="bg">{{ talk.date }}: </span><a href="{{ talk.url }}" target="_blank">{{ talk.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-start align-items-center">
                        <i class="fa fa-user fa-2x"></i>
                        <p class="mx-2 fw-bold mb-0">{{ _("Sobre mí") }}</p>
                    </div>
                    <ul>
                        <li><p>{{ about_me }} </p></li>
                    </ul>
                </div>
            </div>
            <hr>
            <footer>
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa fa-share-alt-square fa-2x"></i>
                    <p class="mx-2 fw-bold mb-0">{{ _("Redes sociales") }}</p>
                </div>
                <ul class="sn-ul">
                    {% for sn in social_networks %}
                    <li><i class="text-muted {{ sn.icon_class }}"><a target="_blank" href="{{ sn.url }}" class="sn-description">{{ sn.name }}</a></i></li>
                    {% endfor %}
                </ul>
            </footer>
        </div>

        <div class="b-divider"></div>

        <div class="container py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Portfolio</h2>
          
            <div class="row row-cols-3 align-items-stretch py-5">            
                {% for project in portfolio %}
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a href="{{ project.url }}" target="_blank">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{% static project.image %} ');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="{{ project.style }}">{{ project.name }}</h2>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <img src="{{ project.repository_image }}" alt="repository" width="32" height="32" class="rounded-circle border border-white">
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <img src="{{ project.language_image }}" alt="Python" width="32" height="32" class="rounded-circle border border-white">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="b-divider"></div>

    <!--GOOGLE ANALYTICS -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22865130-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery.3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
    // you can use app's unique identifier here
    const LOCAL_STORAGE_KEY = "toggle-bootstrap-theme";

    const LOCAL_META_DATA = JSON.parse(localStorage.getItem(LOCAL_STORAGE_KEY));

    // you can change this url as needed
    const DARK_THEME_PATH = "{% static 'css/bootstrap.cyborg.min.css' %}";

    const DARK_STYLE_LINK = document.getElementById("dark-theme-style");
    const THEME_TOGGLER = document.getElementById("theme-toggler");

    let isDark = LOCAL_META_DATA && LOCAL_META_DATA.isDark;

    // check if user has already selected dark theme earlier
    if (isDark) {
    enableDarkTheme();
    } else {
    disableDarkTheme();
    }


    /**
     * Apart from toggling themes, this will also store user's theme preference in local storage.
     * So when user visits next time, we can load the same theme.
     *
     */
    function toggleTheme() {
    isDark = !isDark;
    if (isDark) {
        enableDarkTheme();
    } else {
        disableDarkTheme();
    }
    const META = { isDark };
    localStorage.setItem(LOCAL_STORAGE_KEY, JSON.stringify(META));
    }

    function enableDarkTheme() {
    DARK_STYLE_LINK.setAttribute("href", DARK_THEME_PATH);
    THEME_TOGGLER.setAttribute("src", "{% static 'image/utils/switch-off-white.png' %}");
    THEME_TOGGLER.innerHTML = "🌙 Dark";
    }

    function disableDarkTheme() {
    DARK_STYLE_LINK.setAttribute("href", "");
    THEME_TOGGLER.setAttribute("src", "{% static 'image/utils/switch-on.png' %}");
    THEME_TOGGLER.innerHTML = "🌞 Light";
    }
    </script>





</body>
</html>
