.portrait-photo{
    width:230px;
}

.b-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
  
@media (min-width: 992px) {
.rounded-lg-3 { border-radius: .3rem; }
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #000;
    border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.card-cover {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

body{
    margin-top:10px;
}

.col-xs-12> i.fa,.col-xs-12> i.fab,.col-xs-12> i.fas{
    float:left;
    margin:5px;
}

.css-item{
    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
    font-style: italic;
    font-weight:bold;
}

.css-item:hover{
    /* Firefox */
    -moz-transform: scale(1.1) rotate(1.5deg) translate(25px);
    /* WebKit */
    -webkit-transform: scale(1.1) rotate(1.5deg) translate(25px);
    /* Opera */
    -o-transform: scale(1.1) rotate(1.5deg) translate(25px);
    /* Standard */
    transform: scale(1.1) rotate(-1.5deg) translate(25px);

    z-index: 1000;
}

a{
    font-weight:bold;
    text-decoration: none;
}

a:hover{
    text-decoration: none;

}
.bold{
    font-weight:bold;
}

p.description{
    font-size:1.5rem;
}

/* Customizations to get same font sizes in bootstrap.cosmo.min.css and bootstrap.cyborg.min.css */
.h1, h1 {
    font-size:2.5rem;
}

.fs-4 {
    font-size: 1.5rem!important;
}

.sn-ul{
    list-style: none;
}

.sn-description{
    margin-left:8px;
}

.fa-python{
    color:#4584b6 !important;
}

.fa-android{
    color: #a4c639 !important;
}

.fa-database{
    color:#00758f !important;
}

.fa-php{
    color: #4f5b93 !important;
}

.fa-java {
    color: #db1f29 !important;
}

.fa-js-square{
    color: #f7df1e !important;
}

.fa-aws{
    color: #ff9900 !important;
}

.fa-docker{
    color:#0db7ed !important;
}

.fa-code-branch{
    color: #d910f1 !important;
}

.fa-shield-alt{
    color: rgb(221, 149, 81) !important;
}

.fa-css3-alt{
    color: #264de4 !important;
}

.card{
    transition: 1s transform cubic-bezier(.155,1.105,.295,1.12),1s box-shadow,1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
    transform: scale(1.05);
    transition: 1s transform cubic-bezier(.155,1.105,.295,1.12),1s box-shadow,1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}